%section.ten-oh-announcement
  .ten-oh-label
    %span 11.9
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              GitLab 11.9 released with secrets detection and multiple MR approval rules!

            .btn-group
              %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2019/03/22/gitlab-11-9-released/"}
                See what’s new
